footer {
     background-color: #000;
     color: #afafaf;
     width: 100%;
}

.footerContainer {
     margin: 0 auto;
     justify-content: center;
     display: flex;
     align-items: center;
     flex-direction: column;
     max-width: 1300px;
     border-top: 2px solid #afafaf;
     // background-color: red;
     width: 100%;

     h4 {
          margin-bottom: 15px;
     }

     h5 {
          font-size: 24px;
          margin-bottom: 15px;
     }
}

.socialContainer {
     display: flex;
     justify-content: space-around;
     margin: 30px 0;
     width: 100%;
}

.helpButtonsContainer {
     gap: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 30px;

     button {
          border: 1px solid #afafaf;
          color: #afafaf;
          padding: 10px;
     }
}

.lastP {
     margin-bottom: 30px;
}