.header {
     width: 100%;
     // background-color: var(--primary-color);
     background-color: #000;
     height: 70px;
     position: fixed;
     top: 0;
     right: 0;
     z-index: 999;
     display: flex;
     justify-content: center;
     align-items: center;
}

.navbar {
     color: #fff;
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 100%;
     padding: 0 16px;
     max-width: 1300px;
     width: 100%;
}



a:visited {
     color: inherit;
}

.navMenu {
     transition: 0.6s;
     position: fixed;
     top: 86px;
     background-color: #fff;
     left: 16px;
     right: 16px;
     display: flex;
     height: calc(100vh - 110px);
     border-radius: 40px;
     padding: 30px;
     flex-direction: column;
     gap: 40px;
     z-index: 999;
     top: -999px;

     li {
          font-weight: 500;
          cursor: pointer;
          font-size: 25px;

          p {
               font-size: 15px;
               color: #afafaf;
          }
     }
}

.logoMenu {
     display: block;
}


.navMenu.active {
     top: 86px;

     li {
          color: #000;
     }
}

.desactiveMenu {
     transition: 5s;
     top: 300px;
}

// tablet size
@media screen and (min-width: 768px) {

     .navMenu.active,
     .navMenu {
          all: unset;
          display: flex;
          gap: 50px;
          // background-color: red;
          justify-content: center;
          align-items: center;

          li {
               all: unset;
               color: #fff;

               p {
                    all: unset;
                    display: none;
               }

               a {
                    font-size: 20px;
               }
          }

          li:nth-child(4) {
               border: 2px solid #fff;
               padding: 6px;
               border-radius: 40px;
          }
     }

     .logoMenu {
          display: none;
     }

}