:root {
     //colors
     --primary-color: #bec7e7;
     --primary-strong: #6d59ea;
     --primary-hover-btn: #8d7eed;
     // --primary-color: #b6dbd0;
     // --primary-strong: #19624c;
     // --primary-hover-btn: #37816b;
     --input-gray: #afafaf;

     //margin
     --body-margin: 16px;

     //navbar height
     --navbar-height: 70px;

     //border-radius input forms
     --border-radius-input-forms: 8px;
}